{% extends "index.html" %}

{% block title %}Spark-Report{% endblock %}

{% block content %}
<div id="job_id" hidden="hidden" data-id="{{job_id}}"></div>


<h2 class="page-header h2-report">报表</h2>
<div id="container" style="min-width:600px;height:400px"></div>


<div class="panel panel-success">
    <div class="panel-heading job-id-name">{job_id} results</div>
    <table class="table table-bordered table-striped table-job-result">
        <thead class="bg-success">
            <tr>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!--<th scope="row">1</th>-->
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}