<!DOCTYPE html>
<html lang="zh">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Daos Dashboard{% endblock %}</title>

    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/jquery.cookie.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/underscore-min.js"></script>
    <script src="scripts/highcharts.js"></script>
    <script src="scripts/exporting.js"></script>

    <link rel="stylesheet" href="styles/dashboard.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">

{% block headers %}{% endblock %}

</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="margin-right: 50px;">DAOS-Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/dealsummary">Trade</a></li>
                <li><a href="/usersummary">Customer</a></li>
                <li><a href="/sqlshell">SQL console</a></li>
                <li><a href="/sparkjob">SparkSQL Jobs</a></li>
                <li><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block content %}
            啥都没有~
        {% endblock %}
        </div>

    </div>
</div>


<script>

    $(function($) {
        {% if js %}
        $("head").append('<script src="components/{{component}}/view.js"><\/script>');
        {% endif %}
        {% if css %}
        $("head").append('<link rel="stylesheet" href="components/{{component}}/view.css">');
        {% endif %}

        var curr_menu = $.cookie('curr_menu');
        var jq_menu = $(".sidebar li");
        jq_menu.click(function () {
            jq_menu.removeClass('active');
            $(this).addClass('active');
            $.cookie('curr_menu', $(this).find('a').attr('href'));
        });
        jq_menu.removeClass('active');
        jq_menu.find('a[href="'+curr_menu+'"]').parent().addClass('active')

    });

</script>

</body>
</html>