
{% extends "index.html" %}

{% block title %}用户流量{% endblock %}

{% block content %}

<h1 class="page-header">图表</h1>
<div id="container" style="min-width:600px;height:400px"></div>


<h2 class="sub-header">数据</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="panel-title">用户流量<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="board" class="table table-striped">
                <thead>
                <tr>
                    <th>日期</th>
                    <th>来源</th>
                    <th>日增长</th>
                    <th>总数</th>
                </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{row.date}}</td>
                        <td>{% if row.channel=='0' %}电脑{% else %}移动设备{% endif %}</td>
                        <td>{{row.incr}}</td>
                        <td>{{row.total}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}